@(project: org.ddocumentor.project.Project, documentEntry: org.ddocumentor.html.HtmlParsedDocument)

@main("Project " + project.getName()) {

<div class="container-fluid">

    <div class="row-fluid">
        <h1>Project @project.getName()</h1>
    </div>

    <div class="row-fluid">
        <div class="span3">
            <div class="well sidebar-nav">
                <ul class="nav nav-list" id="sidebar-navigation">
                    <li class="nav-header">Sidebar</li>
                    <!--<li class="active"><a href="#">First example</a></li>-->
                    @for(pDocument <- project.getAvailableDocuments()) {
                        <li><a href="#">@pDocument.getTitle()</a></li>
                    }
                </ul>
            </div>
            <!--/.well -->
        </div>
        <!--/span-->
        <div class="span9">
            <h2>@documentEntry.getTitle()</h2>

            <div id="documentation">
             @for(docPart <- documentEntry.getDocumentParts()) {
                 <li><a href="#">@docPart</a></li>
             }
             </div>
             
        </div>
        <!--/span-->
    </div>
    <!--/row-->
</div>


}
