@(project: org.ddocumentor.project.Project, documentEntry: org.ddocumentor.html.HtmlParsedDocument)

@main("Project " + project.getName()) {

<div class="container-fluid">

    <div class="row-fluid">
        <h1>Project @project.getName()</h1>
    </div>

    <div class="row-fluid">
        <div class="span3">
            <div class="well sidebar-nav">
                <ul class="nav nav-list" id="sidebar-navigation">
                    <li class="nav-header">Sidebar</li>
                    @for(pDocument <- project.getAvailableDocuments()) {
                        <li><a href="/project/@project.getId()/document/@pDocument.getId()">@pDocument.getTitle()</a></li>
                    }
                </ul>
            </div>
        </div>
        <div class="span9">
            <h2>@documentEntry.getTitle()</h2>

            <div id="documentation">
             @for(docPart <- documentEntry.getDocumentParts()) {
                 <div class="block">@Html(docPart)</div>
             }
             </div>
             
        </div>
    </div>
</div>


}
